div.container {
    margin-top: 100px;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
}

.title {
    float: left;
}

.rectangulo {
    float: right;
    height: 40px;
    width: 100%;
    border: 1px solid black;
    background-color: rgb(204, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.like {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(196, 176, 176);
    margin: 0px 5px;
}

.rojo {
    color: red;
}

.blanco {
    color: white;
}

#num {
    color: black;
}

.cuadrado {
    height: 30px;
    width: 30px;
    background-color: yellowgreen;
    float: right;
}

div.container img {
    /* width: 100%; */
    border-radius: 7px;
}

.card {
    position: relative;
    border-radius: 3px;
}

div.boton-i,
div.boton-d {
    width: 49%;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 30px;
    background-color: burlywood;
}

i.fa-heart {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

i.fa-heart:hover {
    color: red;
    cursor: pointer;
}